<form [formGroup]="signUpForm">
  @for (c of columns; track c.field) {
  <mat-form-field class="example-full-width">
    <mat-label>{{ c.label }}</mat-label>
    <input
      matInput
      formControlName="{{ c.field }}"
      placeholder="{{ c.label }}"
      value="{{ c.defaultValue ? c.defaultValue : '' }}"
    />
    <button mat-button matSuffix (click)="toggleSortOrder(c.field)">
      <mat-icon>{{
        c.sorting === "ASC" ? "arrow_upward" : "arrow_downward"
      }}</mat-icon>
    </button>
  </mat-form-field>
  <br />
  }
</form>
